@font-face {
    font-family: cuerpo;
    src: url(/recursos/fuentes/Ebrima.ttf);
}
@font-face {
    font-family: titulo;
    src: url(/recursos/fuentes/7490-fontps.ttf);
}
*{
    padding: 0;
    margin: 0;
    font-family: cuerpo, Arial, Helvetica, sans-serif;
}
body{
    height: auto;
    background-color:#F6EDCB;
    
}
header{
    width: 100%;
    background-color: #8FC258;
}

#conten_head{
    width: 90%;
    padding: 3vh 2vh;
    display:inline-flex;
}
#logo{
    width: 30%;
    text-align: start;
    cursor: pointer;
    margin: 0vh 10vh;
}
#menu{
    width: 70%;
    text-align: end;
    padding: 2vh 0vh;
}

nav{
    font-size: 2vh;
}
nav a{

    color: #f8fff0;
    text-decoration:none;
    padding: 2vh;
    
}
nav a:hover{
    color: #f8fff0;
    text-decoration: underline;
}


.subtitulo{
    height: auto;
    background-color: #8FC258;
    color:#f8fff0;
    text-align: start;
    font-family: titulo,Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 3vh;
}

.textos{
    color: #000000;
    text-align: center;
    font-family: cuerpo,Arial, Helvetica, sans-serif;
    font-size: 3vh;
}

/*quienes somos */

#inicio_nosotros{
    width: 100%;
    height: 500px;
    display:inline-flex;
    background-color: #f8fff0;
    text-align: center;
}

#info_quienes{
    width: 100%;
    padding: 10vh;
    text-align: center;
    margin: auto;
}

#titulo_parte1{
    font-size: 60px;
    font-family: titulo,Arial, Helvetica, sans-serif;
}
/*
#img_quienes{
    width: 20%;
    padding: 10vh;
    text-align: center;
}*/

/*promociones*/

#inicio_promociones{
    width: 100%;
    padding: 0vh 0vh 2vh 0vh;
    text-align: center;
}
#promos{
    width: 90% ;
    display: inline-block;
    padding: 10vh 0vh;
    /*background-color:#775CA4;*/
    border-radius: 15px;
    cursor: pointer;
}
#promos img{
    padding: 1vh;
    border-radius: 10%;
}

#promos img:hover{
   transform: scale(1.2);
}



/*proceso de trabajo*/

#inicio_proceso{
    margin-top: 2vh;
    margin-bottom: 20px;
}


#puntos{
    margin-top: 20px;
    margin-bottom: 40px;
}
/*
#puntos ol{
   list-style-position: inside;
}*/

#puntos ol li{
    list-style: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background-color:#8FC258;
}

#puntos ol li::after{
    content:'';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
}

#puntos ol li div{
    position: relative;
    bottom: 0;
    width: 20vw;
    padding: 15px;
    background:#8FC258;
    color: whitesmoke;
}

#puntos ol li div::before{
    content: '';
    position: absolute;
    bottom: 20vw;
    width: 0;
    height: 0;
    border-style: solid;
}

#puntos ol li:nth-child(odd) div{
    left: 30px;
    top: 20px;
}
/*
#puntos ol li:nth-child(odd) div::before{
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #000000 transparent transparent;
}*/

#puntos ol li:nth-child(even) div{
    left: -310px;
    top: 20px;
}

/*
#puntos ol li:nth-child(even) div::before{
    right: -15x;
    border-width: 18px 0px;
    border-color: transparent #000000 transparent transparent;
}

.punto_proceso{
    width: 50%;
    background-color:#000000;
    padding: 2vh;
    margin-top: 2vh;
    border-radius: 20px;
    text-align: center;
    color: #ffffff;
}

.punto_proceso2{
    width: 50%;
    background-color: #000000;
    margin-left: 45%;
    margin-top: 2vh;
    padding: 2vh;
    border-radius: 20px;
    text-align: center;
    color: #ffffff;
}*/

.btn_inicio{
    width: 90%;
    height: 50px;
    margin: 3% 5%;
    background-color:#8FC258;
    color: #f8fff0;
    border-style: none;
    border-radius: 20px;
    cursor: pointer;
    font-family:titulo, Arial, Helvetica, sans-serif ;
    font-size: 20px;
}

/*opiniones*/

#inicio_opinines{
    width: 100%;
    background-color:#F6EDCB;
    margin-top: 20px;
}

#opiniones_todas{
    width: 60%;
    height: 20%;
    padding: 5vh;
    border-style: none;
    align-items: center;
    text-align: center;
    margin: 50px auto 0;
    overflow: hidden;

    
}

#opiniones_todas ul{
    display: flex;
    padding: 0;
    width: 315%;

    animation: slide 15s infinite alternate ease-in-out;
    
}


#opiniones_todas ul li{
    list-style: none;
    width: 100%;
}

#opiniones_todas ul li div{
    width: 100%;
}

.opinion_unic{
    
    display: flex;
    margin: auto;
    border-style:none;
    background-color: #9b81c5;
    color: whitesmoke;
}


@keyframes slide{
    0% {margin-left: 0%;}
    30% {margin-left: 0%;}

    35% {margin-left: -115%;}
    65% {margin-left: -115%;}

    65% {margin-left: -215%;}
    95% {margin-left: -215%;}
}

.img_opinion{
    width: 30%;
    padding: 5vh;
    border-radius: 50%;
}

.info_opinion{
    width: 70%;
    text-align: center;
    margin: auto;
    font-size: 20px;
    padding: 5vh;
}

.btn_opinion{
    margin-bottom: 20px ;
    margin-left: 33vw;
    border-radius: 10px;
    background-color:whitesmoke;
    text-align: center;
    padding: 10px;
    border: none;
}


#btn_opinar{
    width: 30%;
    text-decoration: none;
    color: #775CA4;
}
#btn_opinar:hover{
    background-color: #9b81c5;
    color: whitesmoke;
}

#inicio_opinar{
    
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    display:none;
}

#opinion{
    width: 80%;
    margin: auto;
    border-style: none;
    border-radius: 10px;
    padding: 5vh;
    background-color:#f8fff0;
}

.input_texto{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 90%;
    padding: 1vh;
    background-color:#f8fff0;
}

#nombre{
    width: 50%;
    text-align: start;
}
#comentario{
    text-align: start;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

/*final*/

footer{
    padding: 1vh 0vh 20vh 0vh;
    text-align: center;
    background-color:#8FC258;
    height: 10vh;
    margin-top: 3vh;
    color: whitesmoke;
    font-size: 15px;
}


.btn_contacto{
    background-color:#8FC258 ;
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}

.btn_contacto:hover{
    background-color: #a9d57a;
}

.btn_contacto_texto{
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
}